<div class="content">

  <div class="page-header">
    <div class="page-title">
      <h4>Agregar Rubro</h4>
      <h6>Completa el formulario</h6>
    </div>
  </div>
  <div class="row" [formGroup]="rubroForm">
    <div class="col-lg-8 col-sm-6 col-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-3 col-sm-4 col-12">
              <div class="form-group">
                <label>Número</label>
                <input id="numero" formControlName="numero" type="text">
              </div>
            </div>
            <div class="col-lg-6 col-sm-4 col-12">
              <div class="form-group">
                <label>Nombre</label>
                <input id="nombre" formControlName="nombre" type="text">
              </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-12">
              <div class="form-group">
                <label>Monto</label>
                <input id="monto" class="form-control" formControlName="monto" type="number">
              </div>
            </div>
            
            <div class="col-lg-3 col-sm-4 col-12">
              <div class="form-group">
              </div>
            </div>
          </div>
        </div>
      </div>

      





      <div class="col-12" class="text-end">
        @if (rubro_id) {
        <a  class="btn btn-cancel me-2" (click)="volver()">
          <i class="fas fa-reply"></i> Regresar
        </a>
        } @else {
        <a routerLink="../" class="btn btn-cancel me-2">
          <i class="fas fa-reply"></i> Regresar
        </a>
        }
        <a id="btn_guardar" (click)="postRubro()" [ngClass]="{'disabled': rubroForm.invalid}"
          class="btn btn-submit me-2" permiso="agregar-moneda">
          @if (loading) {
          <span class="spinner-border spinner-border-sm"></span>
          } @else {
          <i class="fas fa-save"></i> Guardar
          }
        </a>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 col-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-12 col-sm-4 col-12">
              <div class="form-group">
                <label>Nivel</label>
                <input id="nivel" formControlName="nivel" type="text">
              </div>
            </div>


            <div class="col-lg-12 col-sm-4 col-12">
              <div class="form-group">
                <label>Tipo</label>
                <ng-multiselect-dropdown formControlName="tipo" [placeholder]="'Selecciona tipo'" [settings]="selectS"
                  [data]="tipos" (onSelect)="onTipoSelect($event)">
                </ng-multiselect-dropdown>
              </div>
            </div>

            <div class="col-lg-12 col-sm-12 col-12">
              <div class="form-group">
                <label>Rubro Padre</label>
                <ng-multiselect-dropdown formControlName="rubro_id" [placeholder]="'Selecciona rubro padre'"
                  [settings]="selectS" [data]="rubros">
                </ng-multiselect-dropdown>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>