<div class="content">
  <div class="page-header">
    <div class="page-title">
      <h4>Proveedores</h4>
      <h6 [hidden]="oc">Control de proveedores</h6>
    </div>
    <div class="page-btn">
      <a id="btn_cxp" class="btn btn-added" permiso="cxp" style="float: left; margin-right: 10px;"
      data-bs-toggle="offcanvas" data-bs-target="#cxp" (click)="getCXP()" [hidden]="oc">
        <i class="fa fa-sack-dollar me-2"></i> CXP
      </a>
      <a id="btn_agregar" class="btn btn-added" routerLink="agregar" permiso="agregar-proveedor" [hidden]="oc">
        <i class="fa fa-plus me-2"></i>
        Agregar Proveedor
      </a>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="table-top">
        <div class="search-set">
          <div class="row">
            <div class="col-lg col-12">
              <div class="form-group">
                <input class="form-control" [(ngModel)]="busqueda" [ngModelOptions]="{standalone: true}"
                (input)="search()" placeholder="Buscar...">
              </div>
            </div>
            <div class="col-lg-3 col-12" [hidden]="oc">
              <div class="form-group">
                <input type="datetime-local" class="form-control" [(ngModel)]="fecha_inicio"
                  [ngModelOptions]="{standalone: true}">
              </div>
            </div>
            <div class="col-lg-3 col-12" [hidden]="oc">
              <div class="form-group">
                <input type="datetime-local" class="form-control" [(ngModel)]="fecha_fin"
                  [ngModelOptions]="{standalone: true}">
              </div>
            </div>
            <div class="col-lg-2 col-2 order-lg-first">
              <a class="btn btn-filter" id="filter_search">
                <img src="assets/img/icons/filter.svg" alt="img">
                <span>
                  <img src="assets/img/icons/closes.svg" alt="img">
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="card" id="filter_inputs">
        <div class="card-body pb-0">
          <form [formGroup]="filtros" (ngSubmit)="getProveedores()" class="row">
            <div class="col-lg-2 col-sm-6 col-12">
              <div class="form-group">
                <input type="text" formControlName="nombre" placeholder="Nombre">
              </div>
            </div>
            <div class="col-lg-2 col-sm-6 col-12">
              <div class="form-group">
                <input type="text" formControlName="nit" placeholder="NIT">
              </div>
            </div>
            <div class="col-lg-2 col-sm-6 col-12">
              <div class="form-group">
                <input type="text" formControlName="cui" placeholder="CUI" id="ccn">
              </div>
            </div>
            <div class="col-lg-2 col-sm-6 col-12">
              <div class="form-group">
                <input type="text" formControlName="correo" placeholder="Correo">
              </div>
            </div>
            <div class="col-lg-2 col-sm-6 col-12">
              <div class="form-group">
                <input type="text" formControlName="telefono" placeholder="Telefono">
              </div>
            </div>
            <div class="col-lg-2 col-sm-6 col-12">
              <div class="row">
                <div class="col-8">
                  <div class="form-group">
                    <button type="submit" class="btn btn-filters ms-auto">
                      <img src="assets/img/icons/search-whites.svg" alt="img">
                    </button>
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <button type="button" class="btn btn-filters ms-auto" (click)="filtros.reset()"
                      (click)="getProveedores()">
                      <i class="fa-solid fa-broom-wide"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>NIT</th>
              <th>CUI</th>
              <th>Correo</th>
              <th>Teléfono</th>
              <!-- <th>Dirección</th> -->
              <th [hidden]="oc" class="text-end">Acciones</th>
            </tr>
          </thead>
          <tbody>
            @for (e of proveedores; track e.id) {
            <tr>
              <td>
                <a id="seleccionar-proveedor" class="link product-img" (click)="setProveedor(e)">
                  <div class="avatar">
                    @if (e.logo) {
                    <img [src]="e.logo" alt="">
                    } @else {
                    <span class="avatar-title rounded-circle border border-white">{{iniciales(e.nombre)}}</span>
                    }
                  </div>
                  {{e.nombre}}
                </a>
              </td>
              <td>{{e.nit}}</td>
              <td>{{e.cui}}</td>
              <td>
                <a class="link" href="mailto:{{e.correo}}">{{e.correo}}</a>
              </td>
              <td>
                <a class="link" href="tel:{{e.telefono}}">{{e.telefono}}</a>
              </td>
              <!-- <td>{{e.direccion}}</td> -->
              <td [hidden]="oc" class="text-end">
                <a id="btn_editar" class="me-2" [routerLink]="['editar', e.id]" permiso="editar-proveedor">
                  <i class="fas fa-pencil-alt"></i>
                </a>
                <a id="btn_eliminar" class="me-2" (click)="deleteProveedor(e)" permiso="eliminar-proveedor">
                  <i class="fas fa-trash-alt"></i>
                </a>
                <a class="action-set" href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a id="btn_cxp" class="dropdown-item" permiso="cxp" (click)="openDocCXPProveedor(e)">
                      FACTURAS PENDIENTES
                    </a>
                  </li>
                  <li>
                    <a id="btn_cxp" class="dropdown-item" permiso="cxp" (click)="openDocCXPDetalle(e)">
                      ESTADO DE CUENTA
                    </a>
                  </li>
                </ul>
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>

    </div>
  </div>

</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="cxp">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" style="margin-top: 15px;">Cuentas por Pagar</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <hr size="3">
  <div class="offcanvas-body">
    <div class="row">
      <div class="col-3">
        <div class="dash-count">
          <div class="dash-counts">
            <h4>{{cxp.length}}</h4>
            <h5>Proveedores</h5>
          </div>
          <div class="dash-imgs">
            <i class="fa fa-shop fa-2x"></i>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12 col-12">
            <div class="form-group">
              <label>Fecha Inicio</label>
              <input type="datetime-local" class="form-control" [(ngModel)]="fecha_inicio"
                [ngModelOptions]="{standalone: true}">
            </div>
          </div>
          <div class="col-lg-12 col-12">
            <div class="form-group">
              <label>Fecha Fin</label>
              <input type="datetime-local" class="form-control" [(ngModel)]="fecha_fin"
                [ngModelOptions]="{standalone: true}">
            </div>
          </div>
        </div>

      </div>
      <div class="col-lg-9 col-12">
        <div class="card">
          <div class="card-body">

            <div class="row">
              <div class="col-12">
                <a class="btn btn-primary" permiso="cxp" style="float: left; margin-right: 10px;" (click)="openDocCXP()">
                  <i class="fa fa-sack-dollar me-2"></i> Reporte CXP General
                </a>
              </div>
            </div>
            <br><br>

            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>NIT</th>
                    <th>Saldo</th>
                    <th class="text-end">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  @for (c of cxp; track c.id) {
                  <tr>
                    <td>
                      <a class="link product-img" (click)="openDocCXPDetalle(c)">
                        <div class="avatar">
                          @if (c.logo) {
                          <img [src]="c.logo" alt="">
                          } @else {
                          <span class="avatar-title rounded-circle border border-white">{{iniciales(c.nombre)}}</span>
                          }
                        </div>
                        {{c.nombre}}
                      </a>
                    </td>
                    <td>{{c.nit}}</td>
                    <td>
                      <a class="link">{{c.saldos[0].saldo_acumulado | moneda: 'Q. '}}</a>
                    </td>
                    <td class="text-center">
                      <a class="action-set" href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                      </a>
                      <ul class="dropdown-menu">
                        <li>
                          <a id="btn_cxp" class="dropdown-item" permiso="cxp" (click)="openDocCXPProveedor(c)">
                            FACTURAS PENDIENTES
                          </a>
                        </li>
                        <li>
                          <a id="btn_cxp" class="dropdown-item" permiso="cxp" (click)="openDocCXPDetalle(c)">
                            ESTADO DE CUENTA
                          </a>
                        </li>
                      </ul>
                    </td>
                  </tr>
                  }
                </tbody>
              </table>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="doc">
  <div class="offcanvas-header">
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body" style="text-align: center;">
    @if (url) {
    <embed style="width: 100%; height: 100vh;" [src]="url" type="">
    }
  </div>
</div>