<div class="content">
  <div class="page-header">
    <div class="page-title">
      <h4>Etiquetas</h4>
      <h6>Control de etiquetas</h6>
    </div>
    <div class="page-btn">
      <a class="btn btn-added" routerLink="agregar" permiso="agregar-etiqueta">
        <i class="fa fa-plus me-2"></i>
        Agregar Etiqueta
      </a>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="table-top">
        <div class="search-set">
          <div class="search-path">
            <a class="btn btn-filter" id="filter_search">
              <img src="assets/img/icons/filter.svg" alt="img">
              <span>
                <img src="assets/img/icons/closes.svg" alt="img">
              </span>
            </a>
          </div>
          <div class="search-input">
            <a class="btn btn-searchset">
              <img src="assets/img/icons/search-white.svg" alt="img">
            </a>
          </div>
        </div>
        <div class="wordset">
          <ul>
            <li>
              <button class="btn btn-primary btn-sm">
                <i class="fa fa-print"></i>
              </button>
            </li>
          </ul>
        </div>
      </div>

      <div class="card" id="filter_inputs">
        <div class="card-body pb-0">
          <form [formGroup]="filtros" (ngSubmit)="getEtiquetas()" class="row">
            <div class="col-lg-2 col-sm-6 col-12">
              <div class="form-group">
                <input type="text" formControlName="nombre" placeholder="Nombre">
              </div>
            </div>
            <div class="col-lg-2 col-sm-6 col-12">
              <div class="form-group">
                <input type="text" formControlName="descripcion" placeholder="Descripcion">
              </div>
            </div>
            <div class="col" class="text-end">
              <div class="form-group" style="float: right; margin-left: 10px;">
                <button type="submit" class="btn btn-filters ms-auto">
                  <img src="assets/img/icons/search-whites.svg" alt="img">
                </button>
              </div>
              <div class="form-group">
                <button type="button" class="btn btn-filters ms-auto" (click)="filtros.reset()"
                  (click)="getEtiquetas()">
                  <i class="fa-solid fa-broom-wide"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="row mt-5">
        @for (e of etiquetas; track e.id) {
        <div class="col-12 col-md-6 col-lg-4 d-flex">
          <div class="card flex-fill bg-white">
            <!-- <img id="robot" alt="Card Image" src="https://api.kairosgt.com/public/robots/etiqueta.png" class="card-img-top"> -->
            <div class="card-header">
              <h5 class="card-title mb-3">{{e.nombre}}</h5>
              <div class="status-toggle d-flex justify-content-between align-items-center">
                <label>Estado</label>
                <input type="checkbox" [id]="e.id" class="check" [checked]="e.estado" (change)="changeStatus(e)">
                <label [for]="e.id" class="checktoggle">checkbox</label>
              </div>
            </div>
            <div class="card-body mt-0">
              <div class="ribbon ribbon-right" [ngClass]="{'ribbon-primary bg-success': e.estado, 'ribbon-secondary bg-danger': !e.estado}">{{e.estado ? 'Activo' : 'Inactivo'}}</div>
              <a class="card-link" [routerLink]="['editar', e.id]" permiso="editar-etiqueta">
                <i class="fas fa-pencil-alt"></i> Editar
              </a>
              <a class="card-link" (click)="deleteEtiqueta(e)" permiso="eliminar-etiqueta">
                <i class="fas fa-trash-alt"></i> Eliminar
              </a>
            </div>
          </div>
        </div>
        }
      </div>

    </div>
  </div>

</div>