<div class="content">
  <div class="page-header">
    <div class="page-title">
      <h4>Cajas Chicas</h4>
      <h6>Control de cajas chicas</h6>
    </div>
    <div class="page-btn">
      <a class="btn btn-added" routerLink="agregar" permiso="agregar-caja_chica">
        <i class="fa fa-plus me-2"></i>
        Agregar Caja Chica
      </a>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="table-top">
        <div class="search-set">
          <div class="search-path">
            <a class="btn btn-filter" id="filter_search">
              <img src="assets/img/icons/filter.svg" alt="img">
              <span>
                <img src="assets/img/icons/closes.svg" alt="img">
              </span>
            </a>
          </div>
          <div class="search-input">
            <a class="btn btn-searchset">
              <img src="assets/img/icons/search-white.svg" alt="img">
            </a>
          </div>
        </div>
        <div class="wordset">
          <ul>
            <li>
              <button class="btn btn-primary btn-sm">
                <i class="fa fa-print"></i>
              </button>
            </li>
          </ul>
        </div>
      </div>

      <div class="card" id="filter_inputs">
        <div class="card-body pb-0">
          <form [formGroup]="filtros" (ngSubmit)="getCajasChicas()" class="row">
            <div class="col-lg-2 col-sm-6 col-12">
              <div class="form-group">
                <input type="text" formControlName="nombre" placeholder="Nombre">
              </div>
            </div>
            <div class="col-lg-2 col-sm-6 col-12">
              <div class="form-group">
                <input type="text" formControlName="siglas" placeholder="Siglas">
              </div>
            </div>
            <div class="col-lg-2 col-sm-6 col-12">
              <div class="row">
                <div class="col-8">
                  <div class="form-group">
                    <button type="submit" class="btn btn-filters ms-auto">
                      <img src="assets/img/icons/search-whites.svg" alt="img">
                    </button>
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <button type="button" class="btn btn-filters ms-auto" (click)="filtros.reset()"
                      (click)="getCajasChicas()">
                      <i class="fa-solid fa-broom-wide"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table datanew">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Estado</th>
              <th class="text-end">Acciones</th>
            </tr>
          </thead>
          <tbody>
            @for (e of cajas_chicas; track e.id) {
            <tr>
              <td>
                <a class="link product-img" [routerLink]="['editar', e.id]">
                  <div class="avatar">
                    @if (e.logo) {
                    <img [src]="e.logo" alt="">
                    } @else {
                    <span class="avatar-title rounded-circle border border-white">{{iniciales(e.nombre, null)}}</span>
                    }
                  </div>
                  {{e.nombre}}
                </a>
              </td>
              <td>
                <span class="badge"
                  [ngClass]="{'bg-success': e.estado == 'ABIERTA', 'bg-danger': e.estado == 'CERRADA'}">{{e.estado}}</span>
              </td>
              <td class="text-end">
                <a class="me-2" (click)="getCajaChica(e)" data-bs-toggle="offcanvas" data-bs-target="#caja-detalles">
                  <i class="fas fa-receipt"></i>
                </a>
                <a class="me-2" [routerLink]="['editar', e.id]" permiso="editar-caja_chica">
                  <i class="fas fa-pencil-alt"></i>
                </a>
                <a class="me-2" (click)="deleteCajaChica(e)" permiso="eliminar-caja_chica">
                  <i class="fas fa-trash-alt"></i>
                </a>
              </td>
            </tr>
            } @empty {
            <tr>
              <td colspan="10" class="text-center">
                <img id="robot" class="fa-bounce mt-3" width="100"
                  src="https://api.kairosgt.com/public/robots/busqueda.png">
                <br>
                <h4 class="mb-3">No se encontraron registros</h4>
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>

    </div>
  </div>

</div>

<div class="offcanvas offcanvas-end" id="caja-detalles">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title">Caja Chica {{caja_chica?.nombre}}</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="row">
      <div class="col-12">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Fecha</th>
                <th>Documento</th>
                <th>Referencia</th>
                <th class="text-end">Creditos</th>
                <th class="text-end">Debitos</th>
                <th class="text-end">Saldo</th>
              </tr>
            </thead>
            <tbody>
              @for (d of caja_chica?.documentos; track d.id) {
              <tr>
                <td>{{d.fecha | fecha: 'DD/MM/YYYY HH:mm'}}</td>
                <td>{{d.documento.nombre}}</td>
                <td>{{d.no_cheque}} {{d.no_nd}} {{d.no_doc}}</td>
                @if (d.documento.tipo_documento.slug === 'nota_debito' || d.documento.tipo_documento.slug === 'cheque')
                {
                <td class="text-end"> {{d.total | moneda: ''}} </td>
                <td class="text-end"> {{0 | moneda: ''}} </td>
                }
                @if (d.documento.tipo_documento.slug === 'compra')
                {
                <td class="text-end"> {{0 | moneda: ''}} </td>
                <td class="text-end"> {{d.total | moneda: ''}} </td>
                }
                <td class="text-end">{{d.saldo | moneda: ''}}</td>
              </tr>
              }
            </tbody>
            <thead>
              <tr>
                <th colspan="3" class="text-end">Total</th>
                <th class="text-end">{{caja_chica?.creditos | moneda: ''}}</th>
                <th class="text-end">{{caja_chica?.debitos | moneda: ''}}</th>
                <th class="text-end">{{caja_chica?.saldo | moneda: ''}}</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>