<div class="content">
  <div class="page-header">
    <div class="page-title">
      <h4>Amortizaciones</h4>
      <h6>Control de amortizaciones</h6>
    </div>
    <div class="page-btn">
      <a class="btn btn-added" data-bs-toggle="offcanvas" data-bs-target="#agregar-amortizacion" (click)="add()">
        <i class="fa fa-plus me-2"></i>
        Agregar Amortizacion
      </a>
    </div>
  </div>

  <div class="row">

    <div class="col-sm-12">
      <div class="card card-order">

        <div class="card-body">

          <div class="row">
            <div class="col-12">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th style="width: 10%;">No. Cuota</th>
                      <th>Fecha Inicio</th>
                      <th>Fecha Fin</th>
                      <th>Dias</th>
                      <th class="text-end">Saldo Inicial</th>
                      <th class="text-end">Capital</th>
                      <th class="text-end">Interes</th>
                      <th class="text-end">Cuota</th>
                      <th class="text-end">Saldo Final</th>
                      <th class="text-end">Recibo</th>
                      <th class="text-end">Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    @for (c of amortizaciones; track c.id) {
                    <tr>
                      <td>{{c.numero}}</td>
                      <td>{{c.fecha_inicio | date: 'dd/MM/yyyy'}}</td>
                      <td>{{c.fecha_fin | date: 'dd/MM/yyyy'}}</td>
                      <td>{{c.dias}}</td>
                      <td class="text-end">{{c.saldo_inicial | number: '.2-2'}}</td>
                      <td class="text-end">{{c.capital | number: '.2-2'}}</td>
                      <td class="text-end">{{c.interes | number: '.2-2'}}</td>
                      <td class="text-end">{{c.cuota | number: '.2-2'}}</td>
                      <td class="text-end">{{c.saldo_final | number: '.2-2'}}</td>
                      <td class="text-end">
                        @if (c.recibo) {
                        <span>{{c.recibo.serie}}-{{c.recibo.correlativo}}</span>
                        }
                      </td>
                      <td class="text-end">
                        @if (!c.recibo) {
                        <a class="me-2" (click)="amortizacion_id = c.id" (click)="getDocumentos()"
                          data-bs-toggle="offcanvas" data-bs-target="#documentos">
                          <i class="fa-duotone fa-file-import"></i>
                        </a>
                        }
                        <a class="me-2" [ngClass]="{'disabled': $index < amortizaciones.length - 1 || c.recibo}"
                          permiso="editar-amortizacion">
                          <i class="fas fa-pencil-alt"></i>
                        </a>
                        <a class="me-2" (click)="openDoc(c)">
                          <i class="fas fa-print"></i>
                        </a>
                        <a class="me-2" (click)="deleteAmortizacion(c)"
                          [ngClass]="{'disabled': $index < amortizaciones.length - 1}" permiso="eliminar-amortizacion">
                          <i class="fas fa-trash-alt"></i>
                        </a>
                      </td>
                    </tr>
                    }
                  </tbody>
                  <!-- <thead>
                    <tr>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th>{{creditoForm.value.dias}}</th>
                      <th class="text-end">{{creditoForm.value.capital | number: '.2-2'}}</th>
                      <th class="text-end">{{creditoForm.value.interes | number: '.2-2'}}</th>
                      <th class="text-end">{{creditoForm.value.cuota | number: '.2-2'}}</th>
                      <th></th>
                    </tr>
                  </thead> -->
                </table>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="text-end">
    <a routerLink="../../" class="btn btn-cancel me-2">
      <i class="fas fa-reply"></i> Regresar
    </a>
  </div>
</div>

<div class="offcanvas offcanvas-end" id="agregar-amortizacion">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title">Agregar Amortizacion</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="content" [formGroup]="amortizacionForm">
      <div class="row">
        <div class="col-lg-3 col-6">
          <div class="form-group">
            <label>Numero</label>
            <input class="form-control" type="number" formControlName="numero">
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="form-group">
            <label>Fecha Inicio</label>
            <input class="form-control" type="date" formControlName="fecha_inicio">
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="form-group">
            <label>Fecha Fin</label>
            <input class="form-control" type="date" formControlName="fecha_fin">
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="form-group">
            <label>Saldo Inicial</label>
            {{amortizacionForm.value.saldo_inicial | number: '.2-2'}}
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="form-group">
            <label>Capital</label>
            <input class="form-control" type="number" formControlName="capital">
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="form-group">
            <label>Interes</label>
            <input class="form-control" type="number" formControlName="interes">
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="form-group">
            <label>Cuota</label>
            <input class="form-control" type="number" formControlName="cuota">
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="form-group">
            <label>Saldo Final</label>
            {{amortizacionForm.value.saldo_final | number: '.2-2'}}
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <button class="btn btn-submit btn-block" (click)="postAmortizacion()" [disabled]="amortizacionForm.invalid">
              <i class="fas fa-save"></i> Guardar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="recibo">
  <div class="offcanvas-header">
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body" style="text-align: center;">
    @if (url) {
    <embed style="width: 100%; height: 100vh;" [src]="url" type="">
    }
  </div>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="documentos">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" style="margin-top: 15px;">Selecciona un Documento</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <hr size="3">
  <div class="offcanvas-body" style="text-align: center;">
    <div class="row">

      @for (d of documentos; track d.id) {
      <div class="col-6">
        <a [routerLink]="['../../../../facturacion/recibos/agregar', d.id, 'credito', credito_id, 'amortizacion', amortizacion_id]"
          target="_parent">
          <i class="fad fa-file-invoice-dollar fa-6x" [ngStyle]="{'color': d.color}"></i>
          <br>
          <p>
            <span [ngStyle]="{'color': d.color}">{{d.serie}}-{{d.correlativo}}</span>
            <br>
            {{d.nombre}}
          </p>
          <br>
        </a>
      </div>
      } @empty {
      <div class="col-12" style="text-align: center; margin-top: 50px;">
        <h6>No existen documentos creados</h6>
      </div>
      }
    </div>
  </div>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="doc">
  <div class="offcanvas-header">
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body" style="text-align: center;">
    @if (url) {
    <embed style="width: 100%; height: 100vh;" [src]="url" type="">
    }
  </div>
</div>