<div class="content">
  <div class="page-header">
    <div class="page-title">
      <h4>Ventas</h4>
      <h6>Control de ventas</h6>
    </div>
    <div class="page-btn">
      <a class="btn btn-added" (click)="reporteVentas()">
        <i class="fa fa-square-list me-2"></i>
        Reporte de Ventas
      </a>
    </div>
    <div class="page-btn">
      <a id="btn_agregar" class="btn btn-added" (click)="getDocumentos()" data-bs-toggle="offcanvas"
        data-bs-target="#documentos" permiso="agregar-venta">
        <i class="fa fa-plus me-2"></i>
        Agregar Venta
      </a>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="table-top">
        <div class="search-set">
          <div class="row">
            <div class="col-lg-5 col-6">
              <div class="form-group">
                <input id="filtro-fecha" class="form-control" type="datetime-local" [(ngModel)]="fecha_inicio"
                  [ngModelOptions]="{standalone: true}">
              </div>
            </div>
            <div class="col-lg-5 col-6">
              <div class="form-group">
                <input id="filtro-fecha-fin" class="form-control" type="datetime-local" [(ngModel)]="fecha_fin"
                  [ngModelOptions]="{standalone: true}">
              </div>
            </div>
            <div class="col-lg-2 col-2 order-lg-first">
              <a class="btn btn-filter" id="filter_search" (click)="getDocumentos()" (click)="getClientes()"
                (click)="getEmpleados()">
                <img class="fa-beat" src="assets/img/icons/filter.svg" alt="img">
                <span>
                  <img src="assets/img/icons/closes.svg" alt="img">
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="form-group">
          <a class="link" (click)="filtros.reset(); busqueda = null" (click)="getVentas()" style="margin-right: 20px;">
            <i class="fa-solid fa-eraser fa-3x"></i>
          </a>
          <button (click)="getVentas()" class="btn btn-filters ms-auto" style="float: right; margin-left: 20px;">
            <img class="fa-beat" src="assets/img/icons/search-whites.svg" alt="img">
          </button>
        </div>
      </div>

      <div class="card" id="filter_inputs">
        <div class="card-body pb-0">
          <form [formGroup]="filtros" (ngSubmit)="getVentas()" class="row">
            <div class="col-lg-2 col-sm-6 col-12">
              <div class="form-group">
                <input type="text" formControlName="serie" placeholder="Serie">
              </div>
            </div>
            <div class="col-lg-2 col-sm-6 col-12">
              <div class="form-group">
                <input type="text" formControlName="correlativo" placeholder="Correlativo">
              </div>
            </div>
            <div class="col-lg-2 col-sm-6 col-12">
              <div class="form-group">
                <ng-multiselect-dropdown [placeholder]="'Estado'" [settings]="selectS" [data]="estados"
                  formControlName="estado">
                </ng-multiselect-dropdown>
              </div>
            </div>
            <div class="col-lg-2 col-sm-6 col-12">
              <div class="form-group">
                <ng-multiselect-dropdown [placeholder]="'Documento'" [settings]="selectS" [data]="documentos"
                  formControlName="documento_id">
                </ng-multiselect-dropdown>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12">
              <div class="form-group">
                <ng-multiselect-dropdown [placeholder]="'Cliente'" [settings]="selectS" [data]="clientes"
                  formControlName="cliente_id">
                </ng-multiselect-dropdown>
              </div>
            </div>
            <div class="col-lg-2 col-sm-6 col-12">
              <div class="form-group">
                <ng-multiselect-dropdown [placeholder]="'Tipo Pago'" [settings]="selectS" [data]="tipos_pagos"
                  formControlName="tipo_pago">
                </ng-multiselect-dropdown>
              </div>
            </div>
            <div class="col-lg-2 col-sm-6 col-12">
              <div class="form-group">
                <input type="text" formControlName="fel_numero" placeholder="FEL Numero">
              </div>
            </div>
            <div class="col-lg-2 col-sm-6 col-12">
              <div class="form-group">
                <input type="text" formControlName="fel_serie" placeholder="FEL Serie">
              </div>
            </div>
            <div class="col-lg-2 col-sm-6 col-12">
              <div class="form-group">
                <input type="text" formControlName="fel_autorizacion" placeholder="FEL Autorizacion">
              </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12">
              <div class="form-group">
                <ng-multiselect-dropdown [placeholder]="'Vendedor'" [settings]="selectS" [data]="empleados"
                  formControlName="empleado_id">
                </ng-multiselect-dropdown>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="row mb-0">
        <div class="col-lg-6 col-12">
          <p style="margin-top: 20px;">
            {{ventas.length}} registro<span *ngIf="ventas.length != 1">s</span> encontrado<span
              *ngIf="ventas.length != 1">s</span>
          </p>
        </div>
        <div class="col-lg-3 col-12 text-end">
          <a class="btn btn-added" (click)="getInfoDte()">
            <i class="fas fa-check-double text-success"></i>
            Certificaciones
          </a>
        </div>
        <div class="col-lg-3 col-12 text-end">
          <div class="form-group searchinputs">
            <input class="form-control" [(ngModel)]="busqueda" [ngModelOptions]="{standalone: true}" (input)="search()"
              placeholder="Busqueda rapida..." type="search">
            <div class="search-addon">
              <span>
                <i class="fa fa-search mt-1"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Serie / Correlativo</th>
              <th>Fecha</th>
              <!-- <th>Observaciones</th> -->
              <th>Tipo de Pago</th>
              <!-- <th>Documento</th> -->
              <th>Cliente</th>
              <th>Total</th>
              <th>Saldo</th>
              <th>Estado</th>
              <th class="text-end">Acciones</th>
            </tr>
          </thead>
          <tbody>
            @for (v of ventas; track v.id) {
            <tr>
              <td>
                <a class="text-secondary" (click)="openDoc(v)">
                  {{v.documento.tipo_documento.nombre}} {{v.serie}}-{{v.correlativo}}
                </a>
              </td>
              <td>{{v.fecha | date: 'dd/MM/yyyy HH:mm'}}</td>
              <!-- <td>{{c.observaciones}}</td> -->
              <td>{{v.tipo_pago}}</td>
              <!-- <td>{{v.documento.nombre}}</td> -->
              <td>{{v.cliente.nit}} - {{v.cliente.nombre}}</td>
              <td>
                <b style="font-weight: 600;">
                  <span [ngClass]="{'mon_ext': v.moneda_id != 1}">
                    {{v.total | moneda: 'Q. '}}
                  </span>
                  @if (v.moneda_id != 1) {
                  <span> ({{v.total_ext | moneda: v.moneda.simbolo}})</span>
                  }
                </b>
              </td>
              <td>
                <b style="font-weight: 600;">
                  {{(v.saldos.length > 0 ? v.saldos[0].saldo_final : 0) | moneda: v.moneda.simbolo}}
                </b>
              </td>
              <td>
                <span class="badges"
                  [ngClass]="{'bg-primary': v.estado == 'VIGENTE', 'bg-danger': v.estado == 'ANULADA'}">{{v.estado}}</span>
              </td>
              <td class="text-end">
                <a class="me-2" (click)="openTicket(v)">
                  <i class="fas fa-receipt"></i>
                </a>
                <a id="btn_imprimir" class="me-2" (click)="openDoc(v)">
                  <i class="fas fa-print"></i>
                </a>
                <!-- <a id="btn_imprimir" class="me-2" (click)="openEnvio(v)">
                  <i class="fas fa-paper-plane"></i>
                </a> -->
                <a class="me-2" (click)="getOperacionesEtiquetas(v)" data-bs-toggle="modal" data-bs-target="#etiquetas">
                  <i class="far fa-tags" [ngClass]="{'fas': v.operaciones_etiquetas.length > 0}"></i>
                </a>
                <a id="btn_anular" class="me-2" (click)="anularVenta(v)" [ngClass]="{'disabled': v.estado == 'ANULADA'}"
                  permiso="anular-venta">
                  <i class="fas fa-cancel"></i>
                </a>
                <a id="btn_eliminar" class="me-2" (click)="deleteVenta(v)" permiso="eliminar-venta">
                  <i class="fas fa-trash-alt"></i>
                </a>
              </td>
            </tr>
            } @empty {
            <tr>
              <td colspan="9" class="text-center">
                <img id="robot" class="fa-bounce mt-3" width="100"
                  src="https://api.kairosgt.com/public/robots/busqueda.png">
                <br>
                <h4 class="mb-3">No se encontraron registros</h4>
              </td>
            </tr>
            }
          </tbody>
          <thead>
            <tr>
              <th colspan="3"></th>
              <th>TOTAL</th>
              <th colspan="4">
                <b style="font-weight: 600;">{{getTotal() | moneda: 'Q. '}}</b>
              </th>
            </tr>
          </thead>
        </table>
      </div>

    </div>
  </div>

</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="documentos">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title">Selecciona un Documento</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body" style="text-align: center;">
    <div class="row">

      @for (d of documentos; track d.id) {
      <div id="seleccionar-documento" class="col-6" [routerLink]="['agregar', d.id]" (click)="closeOC()">
        <i class="fad fa-file-invoice-dollar fa-6x" [ngStyle]="{'color': d.color}"></i>
        <br>
        <p>
          <span [ngStyle]="{'color': d.color}">{{d.serie}}-{{d.correlativo}}</span>
          <br>
          {{d.nombre}}
        </p>
        <br>
      </div>
      }
    </div>
  </div>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="doc">
  <div class="offcanvas-header">
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body" style="text-align: center;">
    @if (url) {
    <embed style="width: 100%; height: 100vh;" [src]="url" type="">
    }
  </div>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="ticket">
  <div class="offcanvas-header">
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body" style="text-align: center; margin: 0px 82px">
    @if (url) {
    <embed style="width: 100%; height: 100vh;" [src]="url" type="">
    }
  </div>
</div>

<div class="modal fade" id="etiquetas" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Asignar Etiquetas</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="mb-3 col-12 text-center">
              <img id="robot" src="https://api.kairosgt.com/public/robots/conectado.png" width="250">
            </div>
            <div class="mb-3 col-12">
              <label class="form-label">Etiquetas</label>
              <ng-multiselect-dropdown [placeholder]="'Sin seleccion'" [settings]="selectM" [data]="etiquetas"
                [(ngModel)]="operaciones_etiquetas" [ngModelOptions]="{standalone: true}">
              </ng-multiselect-dropdown>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer text-end">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="putOperacionesEtiquetas()">
          <i class="fas fa-save"></i> Guardar
        </button>
      </div>
    </div>
  </div>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="certificaciones">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title">Certificaciones</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body" style="text-align: center;">
    <div class="row">

      <table class="table">
        <thead>
          <tr>
            <th scope="col">Fecha Emision</th>
            <th scope="col">Fecha Certificacion</th>
            <th scope="col">NIT</th>
            <th scope="col">Serie</th>
            <th scope="col">Numero</th>
            <th scope="col">Sincronizada</th>
          </tr>
        </thead>
        <tbody>
          @for (c of certificaciones; track c.id) {
          <tr>
            <td>{{c.FECHA_DE_EMISION}}</td>
            <td>{{c.FECHA_DE_CERTIFICACION}}</td>
            <td>{{c.NIT_RECEPTOR}}</td>
            <td>{{c.SERIE}}</td>
            <td>{{c.NUMERO}}</td>
            <td>
              @if (c.SYNC) {
              <i class="fas fa-check-double fa-2x text-success"></i>
              } @else {
              <i class="fas fa-cancel fa-2x text-danger"></i>
              }
            </td>
          </tr>
          } @empty {
          <tr>
            <td colspan="6" class="text-center">
              <img id="robot" class="fa-bounce mt-3" width="100"
                src="https://api.kairosgt.com/public/robots/busqueda.png">
              <br>
              <h4 class="mb-3">No se encontraron registros</h4>
            </td>
          </tr>
          }
        </tbody>
      </table>

    </div>
  </div>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="impresoras">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title">Selecciona Impresora</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="row">
      <div class="col-12">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>IP</th>
                <th>Tabs</th>
              </tr>
            </thead>
            <tbody>
              @for (i of impresoras; track i.id) {
              <tr>
                <td>
                  <a class="link" (click)="printVenta(i)">
                    {{i.nombre}}
                  </a>
                </td>
                <td>{{i.ip}}</td>
                <td>{{i.tabs}}</td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>