<div class="content">
  <div class="row">

    <div class="col-lg-6 col-sm-12">
      <div class="card card-order">

        <div class="split-card"></div>

        <div class="card-body">
          <div class="row" [formGroup]="nc_proveedorForm">
            <div class="col-6">
              <h5>Fecha</h5> <br>
              <div class="form-group">
                <input class="form-control" type="datetime-local" formControlName="fecha">
              </div>
            </div>
            <div class="col-6">
              <h5>Moneda</h5> <br>
              <div class="form-group">
                <ng-multiselect-dropdown [placeholder]="'Sin seleccion'" [settings]="selectS" [data]="monedas"
                  formControlName="moneda_id">
                </ng-multiselect-dropdown>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <h5>Observaciones</h5> <br>
                  <div class="form-group">
                    <textarea formControlName="observaciones"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-sm-12">
      <div class="card card-order">

        <div class="split-card"></div>

        <div class="card-body" [formGroup]="proveedorForm">
          <div class="row">
            <div class="col-6">
              <h5>Proveedor</h5> <br>
            </div>
            <div class="col-6 text-end">
              <a href="javascript:void(0);" class="btn btn-primary btn-sm" data-bs-toggle="offcanvas"
                data-bs-target="#proveedores">
                <i class="fas fa-truck-fast me-2"></i>Mis Proveedores
              </a>
            </div>
            <div class="col-4">
              <div class="form-group">
                <div class="input-group">
                  <input id="mis-proveedores" formControlName="nit" type="text" class="form-control" placeholder="NIT"
                    (keyup.enter)="getInfoNit()">
                  <button class="btn btn-primary" type="button" (click)="getInfoNit()">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="col-8">
              <div class="form-group">
                <div class="input-group">
                  <input formControlName="nombre" type="text" class="form-control" placeholder="Nombre">
                </div>
              </div>
            </div>
          </div>

          <div class="split-card"></div>

          <div class="row" [formGroup]="nc_proveedorForm">
            <div class="col-lg-6 col-6">
              <h5>No. NC</h5> <br>
              <div class="form-group">
                <input id="no-nota-credito" class="form-control" type="text" formControlName="no_nc">
              </div>
            </div>
            <div class="col-lg-6 col-6">
              <h5>Total</h5> <br>
              <div class="form-group">
                <input id="total" class="form-control" type="number" formControlName="total">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-12 col-sm-12">
      <div class="card card-order dynamic-card">

        <div class="split-card"></div>

        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <h5>Compras</h5> <br>
            </div>
            <div class="col-6 text-end">
              <a id="mis-compras" href="javascript:void(0);" class="btn btn-primary btn-sm" data-bs-toggle="offcanvas"
                data-bs-target="#compras" (click)="getCompras()">
                <i class="fas fa-bars"></i> Seleccionar Compras
              </a>
            </div>
            <div class="col-12">
              <div class=table-responsive>
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Serie / Correlativo</th>
                      <th>Fecha</th>
                      <th>Total</th>
                      <th>Saldo Actual</th>
                      <th>Abono</th>
                      <th>Saldo</th>
                      <th>Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let s of saldos">
                      <td>
                        <a class="text-secondary">
                          {{s.compra.documento.tipo_documento.nombre}} {{s.compra.serie}}-{{s.compra.correlativo}}
                        </a>
                      </td>
                      <td>{{s.compra.fecha | date: 'dd/MM/yyyy HH:mm'}}</td>
                      <td>{{s.compra.total | number: '.2-2'}}</td>
                      <td>
                        <b style="font-weight: 600;">{{s.saldo_inicial | number: '.2-2'}}</b>
                      </td>
                      <td style="width: 15%;">
                        <input type="number" class="form-control" [(ngModel)]="s.total"
                          [ngModelOptions]="{standalone: true}" (input)="calcularSaldoFinal(s)">
                      </td>
                      <td>
                        <b style="font-weight: 600;">{{s.saldo_final | number: '.2-2'}}</b>
                      </td>
                      <td>
                        <a href="javascript:void(0);" class="btn btn-danger btn-sm" (click)="removeCompra(s)">
                          <i class="fa fa-trash"></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                  <thead>
                    <tr>
                      <th colspan="4">Total</th>
                      <th [ngClass]="getAbono() == getTotal() ? 'text-success' : 'text-danger'">{{getAbono() | number:
                        '.2-2'}}</th>
                      <th></th>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-sm-12">
      <div class="card card-order">
        <div class="split-card"></div>

        <div class="card-body">
          <div class="row" [formGroup]="nc_proveedorForm">
            <div class="col-6" [ngClass]="{'disabled': documento && documento.sucursal}">
              <h5>Sucursal</h5> <br>
              <div class="form-group">
                <ng-multiselect-dropdown [placeholder]="'Sin seleccion'" [settings]="selectS" [data]="sucursales"
                  formControlName="sucursal_id" (onSelect)="getBodegasBySucursal($event.id)">
                </ng-multiselect-dropdown>
              </div>
            </div>
            <div class="col-6" [ngClass]="{'disabled': documento && documento.bodega}">
              <h5>Bodega</h5> <br>
              <div class="form-group">
                <ng-multiselect-dropdown [placeholder]="'Sin seleccion'" [settings]="selectS" [data]="bodegas"
                  formControlName="bodega_id">
                </ng-multiselect-dropdown>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-sm-12">
      <div class="card card-order">
        <div class="split-card"></div>

        <div class="card-body">
          <div class="setvalue">
            <ul>
              <li class="total-value">
                <h5>Total </h5>
                <h6>{{getTotal() | number: '.2-2'}}</h6>
              </li>
            </ul>
          </div>
        </div>

        <div class="card-body">
          <div class="text-end">
            <a routerLink="../../" class="btn btn-cancel me-2">
              <i class="fas fa-reply"></i> Regresar
            </a>
            <button (click)="postNCProveedor()" class="btn btn-submit btn-block"
              [ngClass]="{'disabled': getTotal() == 0 || getAbono() != getTotal()}"
              permiso="agregar-nota-credito-proveedor">
              <i class="fas fa-save"></i> Guardar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="offcanvas offcanvas-end" id="proveedores">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title"></h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <app-proveedores [oc]="true" (newItemEvent)="addProveedor($event)"></app-proveedores>
  </div>
</div>

<div class="offcanvas offcanvas-end" id="compras">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title">Selecciona una compra</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="content">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>No.</th>
                  <th>Serie / Correlativo</th>
                  <th>Fecha</th>
                  <!-- <th>Observaciones</th> -->
                  <th>Tipo de Pago</th>
                  <th>Documento</th>
                  <th>Proveedor</th>
                  <th>Total</th>
                  <th>Saldo</th>
                  <th>Estado</th>
                </tr>
              </thead>
              <tbody>
                @for (c of compras; track c.id) {
                <tr id="seleccionar-compra" (click)="setCompra(c)">
                  <td>{{c.id}}</td>
                  <td>
                    <a class="text-secondary">
                      {{c.documento.tipo_documento.nombre}} {{c.serie}}-{{c.correlativo}}
                    </a>
                  </td>
                  <td>{{c.fecha | date: 'dd/MM/yyyy HH:mm'}}</td>
                  <!-- <td>{{c.observaciones}}</td> -->
                  <td>{{c.tipo_pago}}</td>
                  <td>{{c.documento.nombre}}</td>
                  <td>{{c.proveedor.nit}}</td>
                  <td>
                    <b style="font-weight: 600;">{{c.total | currency : c.moneda.simbolo : 'symbol' : '.2-2'}}</b>
                  </td>
                  <td>
                    <b style="font-weight: 600;">{{c.saldos[0].saldo_final | currency : c.moneda.simbolo : 'symbol' :
                      '.2-2'}}</b>
                  <td>
                    <span class="badges"
                      [ngClass]="{'bg-primary': c.estado == 'VIGENTE', 'bg-danger': c.estado == 'ANULADA'}">{{c.estado}}</span>
                  </td>
                </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>