<div class="content">

  <div class="page-header">
    <div class="page-title">
      <h4>Agregar Banco</h4>
      <h6>Completa el formulario</h6>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="profile-set">
        <div class="profile-head">

        </div>

        <div class="profile-top">
          <div class="profile-content">
            <div class="profile-contentimg">
              <img [src]="bancoForm.value.logo ? bancoForm.value.logo : 'assets/img/blank.jpg'" alt="img"
                id="blah">
              <div class="profileupload edit">
                <input type="file" id="imgInp" (change)="setImage($event, 'logo')">
                <a href="javascript:void(0);">
                  <img src="assets/img/icons/edit-set.svg" alt="img">
                </a>
              </div>
              <div class="profileupload delete">
                <a (click)="removeImage('logo')" href="javascript:void(0);">
                  <img src="assets/img/icons/trash.svg" alt="img">
                </a>
              </div>
            </div>
            <div class="profile-contentname">
              <h2>{{bancoForm.value.nombre}}</h2>
              <h4>{{bancoForm.value.siglas}}</h4>
            </div>
          </div>
          <div>
            <a routerLink="../" class="btn btn-cancel me-2">
              <i class="fas fa-reply"></i> Regresar
            </a>
            <a (click)="postBanco()" [ngClass]="{'disabled': bancoForm.invalid}" class="btn btn-submit me-2"
              permiso="agregar-banco">
              @if (loading) {
              <span class="spinner-border spinner-border-sm"></span>
              } @else {
              <i class="fas fa-save"></i> Guardar
              }
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="row" [formGroup]="bancoForm">
        <div class="col-lg-3 col-sm-6 col-12">
          <div class="form-group">
            <label>Nombre</label>
            <input formControlName="nombre" type="text">
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-12">
          <div class="form-group">
            <label>Siglas</label>
            <input formControlName="siglas" type="text">
          </div>
        </div>
      
        <div class="col-12" class="text-end">
          <a routerLink="../" class="btn btn-cancel me-2">
            <i class="fas fa-reply"></i> Regresar
          </a>
          <a (click)="postBanco()" [ngClass]="{'disabled': bancoForm.invalid}" class="btn btn-submit me-2"
            permiso="agregar-banco">
            @if (loading) {
            <span class="spinner-border spinner-border-sm"></span>
            } @else {
            <i class="fas fa-save"></i> Guardar
            }
          </a>
        </div>
      </div>
    </div>
  </div>

</div>    