.purple {
  background-color: #6f42c1 !important;
}

.green {
  background-color: #4c9d5f !important;
}

.orange {
  background-color: #f2991d !important;
}

.gray {
  background-color: #6c757d !important;
}