<!DOCTYPE html>
<html lang="en" id="app">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=500, initial-scale=1">
  <title>Caja {{caja.id}}</title>
  <link rel="stylesheet" type="text/css" href="/api/assets/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/api/assets/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="/api/assets/css/stylesheet.css">
  <link href="https://kit-pro.fontawesome.com/releases/v6.5.1/css/pro.min.css" rel="stylesheet">
</head>

<body>

  <div class="d-print-none text-center mt-2">
    <div class="btn-group">
      <input class="form-control" v-model="letra" type="number" placeholder="Letra"
        style="width: 100px; margin-right: 5px;">
      <input class="form-control" v-model="interlineado" type="number" placeholder="Interlineado"
        style="width: 100px; margin-right: 5px;">
      <a v-on:click="print()" class="btn btn-light border text-black-50 shadow-none" style="margin-right: 5px;">
        <i class="fas fa-print"></i> Imprimir
      </a>
      <a v-on:click="download()" class="btn btn-light border text-black-50 shadow-none" style="margin-right: 5px;">
        <i class="fas fa-file-pdf"></i> PDF
      </a>
      <a v-on:click="excel()" class="btn btn-light border text-black-50 shadow-none" style="margin-right: 5px;">
        <i class="fas fa-file-excel"></i> Excel
      </a>
    </div>
  </div>

  <div id="excel">
    <div class="container-fluid invoice-container" id="pdf" contentEditable="true" :style="{ 'max-width': ancho + 'cm' }">

      <header>
        <div class="row">
          <div class="col-3">
            <img id="logo" v-bind:src="empresa.logo" style="width: 90px">
          </div>
          <div class="col-6" style="text-align: center; font-size: 12px;">
            <h5 class="mb-1" style="text-transform: uppercase;">{{empresa.nombre}}</h5>
            <p class="lh-base mb-0">NIT: {{empresa.nit}}</p>
            <p class="lh-base mb-0">CORTE DE CAJA</p>
            <p class="lh-base mb-0">DEL {{formatoFecha(caja.fecha_apertura, 'DD/MM/YYYY HH:mm')}} AL
              {{formatoFecha(caja.fecha_cierre, 'DD/MM/YYYY HH:mm')}}</p>
          </div>
          <div class="col-3" style="text-align: right;">
            <b>Monto Apertura:</b>
            {{moneda(caja.monto_apertura, '')}} <br>
            <b>Total Ventas:</b>
            {{moneda(caja.total, '')}} <br>
            <b>Monto Cierre:</b>
            {{moneda(caja.monto_cierre, '')}} <br>
          </div>
          <hr>
      </header>

      <main>
        <h6>Resumen de Caja</h6>
        <div class="table-responsive">
          <table class="table border mb-0" :style="{ 'font-size': letra + 'px' }">
            <thead>
              <tr class="bg-light">
                <td><b>Metodo de Pago</b></td>
                <td class="text-end"><b>Total Ventas</b></td>
                <td class="text-end"><b>Apertura</b></td>
                <td class="text-end"><b>Total Caja</b></td>
                <td class="text-end"><b>Diferencia</b></td>
              </tr>
            </thead>
            <tbody :style="{ 'line-height': interlineado + 'px' }">
              <tr>
                <td>Efectivo</td>
                <td class="text-end">
                  {{moneda(totales.efectivo, '')}}
                </td>
                <td class="text-end">
                  {{moneda(caja.monto_apertura, '')}}
                </td>
                <td class="text-end">
                  {{moneda(caja.efectivo, '')}}
                </td>
                <td class="text-end">
                  {{moneda((caja.efectivo - caja.monto_apertura) - totales.efectivo, '')}}
                </td>
              </tr>
              <tr>
                <td>Tarjeta</td>
                <td class="text-end">
                  {{moneda(totales.tarjeta, '')}}
                </td>
                <td class="text-end">--</td>
                <td class="text-end">
                  {{moneda(caja.tarjeta, '')}}
                </td>
                <td class="text-end">
                  {{moneda(caja.tarjeta - totales.tarjeta, '')}}
                </td>
              </tr>
              <tr>
                <td>Transferencia</td>
                <td class="text-end">
                  {{moneda(totales.transferencia, '')}}
                </td>
                <td class="text-end">--</td>
                <td class="text-end">
                  {{moneda(caja.transferencia, '')}}
                </td>
                <td class="text-end">
                  {{moneda(caja.transferencia - totales.transferencia, '')}}
                </td>
              </tr>
              <tr>
                <td>Deposito</td>
                <td class="text-end">
                  {{moneda(totales.deposito, '')}}
                </td>
                <td class="text-end">--</td>
                <td class="text-end">
                  {{moneda(caja.deposito, '')}}
                </td>
                <td class="text-end">
                  {{moneda(caja.deposito - totales.deposito, '')}}
                </td>
              </tr>
              <tr>
                <td>Cheque</td>
                <td class="text-end">
                  {{moneda(totales.cheque, '')}}
                </td>
                <td class="text-end">--</td>
                <td class="text-end">
                  {{moneda(caja.cheque, '')}}
                </td>
                <td class="text-end">
                  {{moneda(caja.cheque - totales.cheque, '')}}
                </td>
              </tr>
              <tr>
                <td>Vale</td>
                <td class="text-end">
                  {{moneda(totales.vale, '')}}
                </td>
                <td class="text-end">--</td>
                <td class="text-end">
                  {{moneda(caja.vale, '')}}
                </td>
                <td class="text-end">
                  {{moneda(caja.vale - totales.vale, '')}}
                </td>
              </tr>
            </tbody>
            <tbody :style="{ 'line-height': interlineado + 'px' }">
              <tr class="bg-light">
                <td></td>
                <td class="col-2 text-end"><b>{{moneda(caja.total, '')}}</b></td>
                <td class="col-2 text-end"><b>{{moneda(caja.monto_apertura, '')}}</b></td>
                <td class="col-2 text-end"><b>{{moneda(caja.monto_cierre, '')}}</b></td>
                <td class="col-2 text-end"><b>{{moneda(caja.monto_cierre - caja.monto_apertura - caja.total, '')}}</b>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <br>
        <h6>Detalle de ventas</h6>
        <div class="table-responsive">
          <table class="table border mb-0" :style="{ 'font-size': letra + 'px' }">
            <thead>
              <tr class="bg-light">
                <td><b>Venta</b></td>
                <td><b>Fecha</b></td>
                <td class="text-end"><b>Efectivo</b></td>
                <td class="text-end"><b>Tarjeta</b></td>
                <td class="text-end"><b>Transferencia</b></td>
                <td class="text-end"><b>Deposito</b></td>
                <td class="text-end"><b>Cheque</b></td>
                <td class="text-end"><b>Vale</b></td>
                <td class="text-end"><b>Cambio</b></td>
                <td class="text-end"><b>Total</b></td>
              </tr>
            </thead>
            <tbody v-for="v in ventas" :style="{ 'line-height': interlineado + 'px' }">
              <tr>
                <td> {{v.serie}}-{{v.correlativo}} </td>
                <td>{{formatoFecha(v.fecha)}}</td>
                <td class="text-end">{{v.efectivo ? (moneda(v.efectivo, '')) : '--'}}</td>
                <td class="text-end">{{v.tarjeta ? (moneda(v.tarjeta, '')) : '--'}}</td>
                <td class="text-end">{{v.transferencia ? (moneda(v.transferencia, '')) : '--'}}</td>
                <td class="text-end">{{v.deposito ? (moneda(v.deposito, '')) : '--'}}</td>
                <td class="text-end">{{v.cheque ? (moneda(v.cheque, '')) : '--'}}</td>
                <td class="text-end">{{v.vale ? (moneda(v.vale, '')) : '--'}}</td>
                <td class="text-end">{{v.cambio ? (moneda(-v.cambio, '')) : '--'}}</td>
                <td class="text-end">{{v.total ? (moneda(v.total, '')) : '--'}}</td>
              </tr>
            </tbody>
            <tbody>
              <tr class="bg-light">
                <td></td>
                <td></td>
                <td class="text-end"><b>{{moneda(totales.efectivo, '')}}</b></td>
                <td class="text-end"><b>{{moneda(totales.tarjeta, '')}}</b></td>
                <td class="text-end"><b>{{moneda(totales.transferencia, '')}}</b></td>
                <td class="text-end"><b>{{moneda(totales.deposito, '')}}</b></td>
                <td class="text-end"><b>{{moneda(totales.cheque, '')}}</b></td>
                <td class="text-end"><b>{{moneda(totales.vale, '')}}</b></td>
                <td class="text-end"><b>{{moneda(totales.cambio, '')}}</b></td>
                <td></td>
              </tr>
              <tr class="bg-light">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td colspan="2" class="text-end"><b>Total Ventas:</b></td>
                <td class="col-2 text-end">{{moneda(caja.total, '')}}</td>
              </tr>
              <tr class="bg-light">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td colspan="2" class="text-end"><b>Monto Apertura:</b></td>
                <td class="col-2 text-end">{{moneda(caja.monto_apertura, '')}}</td>
              </tr>
              <tr class="bg-light">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td colspan="2" class="text-end"><b>Monto Cierre:</b></td>
                <td class="col-2 text-end">{{moneda(caja.monto_cierre, '')}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </main>

      <footer class="mt-2">
        <p class="text-center">
          {{empresa.nombre}} <br>
          {{empresa.direccion}} <br>
          <a href="tel:{{empresa.telefono}}">{{empresa.telefono}}</a>
        </p>
      </footer>
    </div>
  </div>


  <script src="/api/assets/js/vue.global.prod.js"></script>
  <script src="/api/assets/js/moment.min.js"></script>
  <script src="/api/assets/js/axios.min.js"></script>
  <script src="/api/assets/js/jquery-3.6.0.min.js"></script>
  <script src="/api/assets/js/letras-moneda.js"></script>
  <script src="/api/assets/js/jspdf.umd.min.js"></script>
  <script src="/api/assets/js/html2canvas.min.js"></script>

  <script>
    const { createApp, ref } = Vue

    createApp({
      setup() {
        let caja = ref(___caja)
        let ventas = ref(___ventas)
        let totales = ref(___totales)
        let empresa = ref(___empresa)
        let letra = ref('8');
        let interlineado = ref('14');
        return {
          caja,
          ventas,
          totales,
          empresa,
          letra,
          interlineado
        }
      },
      methods: {
        formatoFecha(date, format = 'DD/MM/YYYY') {
          return moment(date).format(format)
        },
        moneda(valor, simbolo) {
          if (!valor) {
            return '0.00'
          }
          valor = parseFloat(valor)
          let text = valor.toLocaleString('en-US', { style: 'currency', currency: 'USD' });
          text = text.replace('$', simbolo)
          return text;
        },
        print() {
          window.print();
        },
        download() {
          const { jsPDF } = window.jspdf;
          const content = document.getElementById('pdf');

          html2canvas(content, { scale: 3 }).then(canvas => {
            const imgWidth = 216;
            const pageHeight = 279;
            const imgHeight = canvas.height * imgWidth / canvas.width;
            const imgData = canvas.toDataURL('image/png');
            const pdf = new jsPDF('p', 'mm', 'letter');
            let position = 0;

            pdf.addImage(imgData, 'PNG', 0, position, imgWidth, imgHeight);
            pdf.save(`Cierre Caja ${moment(this.caja.fecha_cierre).format('DD-MM-YYYY HH:mm')}.pdf`);
          });
        },
        excel() {
          var downloadLink;
          var dataType = 'application/vnd.ms-excel';
          var tableSelect = document.getElementById('excel');
          var tableHTML = tableSelect.outerHTML.replace(/<img[^>]*>/g, '').replace(/ /g, '%20');
          let filename = `Cierre Caja ${moment(this.caja.fecha_inicio).format('DD-MM-YYYY HH:mm')} al ${moment(this.caja.fecha_fin).format('DD-MM-YYYY HH:mm')}.xls`;
          downloadLink = document.createElement("a");
          document.body.appendChild(downloadLink);
          if (navigator.msSaveOrOpenBlob) {
            var blob = new Blob(['\ufeff', tableHTML], {
              type: dataType
            });
            navigator.msSaveOrOpenBlob(blob, filename);
          } else {
            downloadLink.href = 'data:' + dataType + ', ' + tableHTML;
            downloadLink.download = filename;
            downloadLink.click();
          }
        }
      }
    }).mount('#app')
  </script>
</body>

</html>