<!DOCTYPE html>
<html lang="en" id="app">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Orden Compra {{orden_compra.serie}}-{{orden_compra.correlativo}}</title>
  <link rel="stylesheet" type="text/css" href="/api/assets/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/api/assets/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="/api/assets/css/stylesheet.css">
  <link href="https://kit-pro.fontawesome.com/releases/v6.5.1/css/pro.min.css" rel="stylesheet">
</head>

<body>

  <div class="d-print-none text-center mt-2">
    <div class="btn-group">
      <input class="form-control" v-model="letra" type="number" placeholder="Letra"
        style="width: 100px; margin-right: 5px;">
      <input class="form-control" v-model="interlineado" type="number" placeholder="Interlineado"
        style="width: 100px; margin-right: 5px;">
      <a v-on:click="print()" class="btn btn-light border text-black-50 shadow-none" style="margin-right: 5px;">
        <i class="fas fa-print"></i> Imprimir
      </a>
      <a v-on:click="download()" class="btn btn-light border text-black-50 shadow-none" style="margin-right: 5px;">
        <i class="fas fa-file-pdf"></i> PDF
      </a>
      <a v-on:click="excel()" class="btn btn-light border text-black-50 shadow-none" style="margin-right: 5px;">
        <i class="fas fa-file-excel"></i> Excel
      </a>
    </div>
  </div>

  <div id="excel">
    <div class="container-fluid invoice-container" id="pdf" contentEditable="true"
      :style="{ 'max-width': ancho + 'cm' }">

      <header>
        <div class="row">
          <div class="col-3">
            <img id="logo" v-bind:src="empresa.logo" style="width: 90px">
          </div>
          <div class="col-6" style="text-align: center; font-size: 12px;">
            <h6 class="mb-1" style="text-transform: uppercase;">{{empresa.nombre}}</h6>
            <p class="lh-base mb-0">NIT: {{empresa.nit}}</p>
            <p class="lh-base mb-0">PBX: {{empresa.telefono}}</p>
            <p class="lh-base mb-0">{{empresa.direccion}}</p>
            <h6 class="lh-base mb-0; text-center" style="margin-top: 6px;">ORDEN DE COMPRA</h6>
          </div>
          <div class="col-sm-3" style="text-align: right;">
            <b>Fecha:</b>
            {{formatoFecha(orden_compra.fecha)}} <br>
            <b>No. Compra:</b>
            #{{orden_compra.id}} <br>
            <b>Estado:</b>
            {{orden_compra.estado}} <br>
          </div>
          <hr>
        </div>
      </header>

      <main>
        <div class="row" :style="{ 'font-size': letra + 'px', 'line-height': interlineado + 'px' }">
          <div class="col-3">
            <p class="mb-1"><b>Serie:</b> {{orden_compra.serie}}-{{orden_compra.correlativo}}</p>
            <p class="mb-1"><b>Sucursal:</b> {{orden_compra.sucursal.nombre}}</p>
            <p class="mb-1"><b>Bodega:</b> {{orden_compra.bodega.nombre}}</p>
          </div>
          <div class="col-6 text-center">
            <p class="mb-1"><b>Proveedor:</b> {{orden_compra.proveedor.nombre}}</p>
            <p class="mb-1"><b>NIT:</b> {{orden_compra.proveedor.nit}}</p>
            <p class="mb-1"><b>Direccion:</b> {{orden_compra.proveedor.direccion}}</p>
          </div>
          <div class="col-3 text-end">
            <b>Observaciones:</b>
            <address>
              {{orden_compra.observaciones}}
            </address>
          </div>
        </div>
        <hr>
        <div class="table-responsive">
          <table class="table border mb-0" :style="{ 'font-size': letra + 'px' }">
            <thead>
              <tr class="bg-dark" :style="{ 'line-height': interlineado + 'px' }">
                <td><b>SKU</b></td>
                <td><b>Producto</b></td>
                <td class="text-center"><b>Cantidad</b></td>
                <td class="text-center"><b>Costo U.</b></td>
                <td class="text-center"><b>Costo</b></td>
                <td class="text-center"><b>Descuento</b></td>
                <td class="text-end"><b>Total</b></td>
              </tr>
            </thead>
            <tbody>
              <tr v-for="c in orden_compra.ordenes_compras_detalles" :style="{ 'line-height': interlineado + 'px' }">
                <td style="width: 8%;">{{c.producto.sku}}</td>
                <td class="col-5">
                  {{c.descripcion}} <span v-if="c.lote_id"> ({{c.lote.nombre}})</span>
                </td>
                <td class=" text-center">{{c.cantidad}} {{c.medida.simbolo}}</td>
                <td class="text-center">{{moneda(c.costo_unitario, orden_compra.moneda.simbolo)}}</td>
                <td class="text-center">{{moneda(c.costo, orden_compra.moneda.simbolo)}}</td>
                <td class="text-center">{{moneda(c.descuento, orden_compra.moneda.simbolo)}}</td>
                <td class="text-end">{{moneda(c.total, orden_compra.moneda.simbolo)}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="table-responsive">
          <table class="table border border-top-0 mb-0" :style="{ 'font-size': letra + 'px' }">
            <tbody>
              <tr class="bg-light" :style="{ 'line-height': interlineado + 'px' }">
                <td class="text-end"><b>Total:</b></td>
                <td class="col-sm-2 text-end">
                  <b>{{moneda(orden_compra.total, orden_compra.moneda.simbolo)}}</b>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </main>

      <footer class="mt-2" :style="{ 'font-size': letra + 'px', 'line-height': interlineado + 'px' }">
        <hr>
        <p class="text-center">
          {{empresa.nombre}} <br>
          {{empresa.direccion}} <br>
          <a href="tel:{{empresa.telefono}}">{{empresa.telefono}}</a>
        </p>
      </footer>
    </div>
  </div>

  <script src="/api/assets/js/vue.global.prod.js"></script>
  <script src="/api/assets/js/moment.min.js"></script>
  <script src="/api/assets/js/axios.min.js"></script>
  <script src="/api/assets/js/jquery-3.6.0.min.js"></script>
  <script src="/api/assets/js/letras-moneda.js"></script>
  <script src="/api/assets/js/jspdf.umd.min.js"></script>
  <script src="/api/assets/js/html2canvas.min.js"></script>

  <script>
    const { createApp, ref } = Vue

    createApp({
      setup() {
        let orden_compra = ref(___orden_compra)
        let empresa = ref(___empresa)
        let letra = ref('8')
        let interlineado = ref('14')
        return {
          orden_compra,
          empresa,
          letra,
          interlineado
        }
      },
      methods: {
        formatoFecha(date, format = 'DD/MM/YYYY') {
          return moment(date).format(format)
        },
        moneda(valor, simbolo) {
          valor = parseFloat(valor)
          let text = valor.toLocaleString('en-US', { style: 'currency', currency: 'USD' });
          text = text.replace('$', simbolo)
          return text;
        },
        print() {
          window.print();
        },
        download() {
          const { jsPDF } = window.jspdf;
          const content = document.getElementById('pdf');

          html2canvas(content, { scale: 3 }).then(canvas => {
            const imgWidth = 216;
            const pageHeight = 279;
            const imgHeight = canvas.height * imgWidth / canvas.width;
            const imgData = canvas.toDataURL('image/png');
            const pdf = new jsPDF('p', 'mm', 'letter');
            let position = 0;

            pdf.addImage(imgData, 'PNG', 0, position, imgWidth, imgHeight);
            pdf.save(`Orden Compra ${this.orden_compra.serie}-${this.orden_compra.correlativo}.pdf`);
          });
        },
        excel() {
          var downloadLink;
          var dataType = 'application/vnd.ms-excel';
          var tableSelect = document.getElementById('excel');
          var tableHTML = tableSelect.outerHTML.replace(/<img[^>]*>/g, '').replace(/ /g, '%20');
          let filename = `Orden Compra ${this.orden_compra.serie}-${this.orden_compra.correlativo} ${moment(this.orden_compra.fecha).format('DD-MM-YYYY HH:mm')}.xls`;
          downloadLink = document.createElement("a");
          document.body.appendChild(downloadLink);
          if (navigator.msSaveOrOpenBlob) {
            var blob = new Blob(['\ufeff', tableHTML], {
              type: dataType
            });
            navigator.msSaveOrOpenBlob(blob, filename);
          } else {
            downloadLink.href = 'data:' + dataType + ', ' + tableHTML;
            downloadLink.download = filename;
            downloadLink.click();
          }
        }
      }
    }).mount('#app')
  </script>
</body>

</html>