<div class="content">
  <div class="page-header">
    <div class="page-title">
      <h4>Roles</h4>
      <h6>Control de roles</h6>
    </div>
    <div class="page-btn">
      <a id="btn_agregar" class="btn btn-added" routerLink="agregar" permiso="agregar-rol">
        <i class="fa fa-plus me-2"></i>
        Agregar Rol
      </a>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="table-top">
        <div class="search-set">
          <div class="row">
            <div class="col-lg-10 col-10">
              <div class="form-group">
                <input class="form-control" [(ngModel)]="busqueda" [ngModelOptions]="{standalone: true}"
                (input)="search()" placeholder="Buscar...">
              </div>
            </div>
            <div class="col-lg-2 col-2 order-lg-first">
              <a class="btn btn-filter" id="filter_search">
                <img src="assets/img/icons/filter.svg" alt="img">
                <span>
                  <img src="assets/img/icons/closes.svg" alt="img">
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="card" id="filter_inputs">
        <div class="card-body pb-0">
          <form [formGroup]="filtros" (ngSubmit)="getRoles()" class="row">
            <div class="col-lg-2 col-sm-6 col-12">
              <div class="form-group">
                <input type="text" formControlName="nombre" placeholder="Nombre">
              </div>
            </div>
            <div class="col" class="text-end">
              <div class="form-group" style="float: right; margin-left: 10px;">
                <button type="submit" class="btn btn-filters ms-auto">
                  <img src="assets/img/icons/search-whites.svg" alt="img">
                </button>
              </div>
              <div class="form-group">
                <button type="button" class="btn btn-filters ms-auto" (click)="filtros.reset()"
                  (click)="getRoles()">
                  <i class="fa-solid fa-broom-wide"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Nombre</th>
              <th class="text-end">Acciones</th>
            </tr>
          </thead>
          <tbody>
            @for (e of roles; track e.id) {
            <tr>
              <td>
                <a class="link" [routerLink]="['editar', e.id]">
                  {{e.nombre}}
                </a>
              </td>
              <td class="text-end">
                <a id="btn_editar" permiso="editar-rol" class="me-2" [routerLink]="['editar', e.id]">
                  <i class="fas fa-pencil-alt"></i>
                </a>
                <a id="btn_eliminar" permiso="eliminar-rol" class="me-2" (click)="deleteRol(e)">
                  <i class="fas fa-trash-alt"></i>
                </a>
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>

    </div>
  </div>

</div>